<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Armchair</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="page-content">
      <div th:if="${recs.isEmpty()}">
        <p>No recommendations yet. Follow some users to get personalized recs!</p>
      </div>
      <div th:unless="${recs.isEmpty()}">
        <div th:each="book : ${recs}">
          <th:block th:replace="~{fragments :: bookDisplay(${book})}"></th:block>
        </div>
      </div>
    </div>
  </body>
</html>
