<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Armchair</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:replace="~{fragments :: navbar}"></div>
    <h2 th:text="${isCurated} ? ${viewUsername} : |${viewUsername}'s Books|"></h2>

    <div th:replace="~{fragments :: bookLists(${fictionBooks}, ${nonfictionBooks})}"></div>

    <p th:if="${fictionBooks.liked().isEmpty() && fictionBooks.ok().isEmpty() && fictionBooks.disliked().isEmpty() && nonfictionBooks.liked().isEmpty() && nonfictionBooks.ok().isEmpty() && nonfictionBooks.disliked().isEmpty()}">No books yet.</p>
  </body>
</html>
