<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Armchair</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="page-content">
      <h3>About</h3>
      <p>
        Armchair is Beli for books. You get two lists: fiction and non-fiction.
        As you add books you'll rank them head-to-head. Rank 10 books to receive
        personalized recommendations. To publish your lists, visit the Profile
        tab.
      </p>
      <h3>Privacy</h3>
      <p>
        Anyone can view public profiles and curated lists. To create a list,
        you'll need to sign up. User authentication is through Google or GitHub.
        Armchair is not given your email, profile picture, or account data.
        Profiles are private by default. The code is
        <a href="https://github.com/lairdstewart/armchair" target="_blank" rel="noopener noreferrer">open source</a>.
      </p>
      <h3>Support</h3>
      <p>
        Report bugs or send suggestions to
        <a href="mailto:armchair@lairdstewart.com">armchair@lairdstewart.com</a
        >.
      </p>
    </div>
  </body>
</html>
