<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Armchair</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" type="image/svg+xml" th:href="@{/logo.svg}" />
  </head>
  <body>
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="page-content">
      <h3>About</h3>
      <p>
        Armchair is Beli for books. Rank the books you've read head-to-head, and
        share your lists with friends. Discover new books from other users and
        our curated lists. Rank 10 books to receive personalized
        recommendations.
      </p>
      <h3>Privacy</h3>
      <p>
        Anyone can view profiles and curated lists. To create a list, you'll
        need to sign up via Google, Microsoft, or GitHub. Armchair is not given
        your email, profile picture, or account data. All profiles are public.
        The code is
        <a
          href="https://github.com/lairdstewart/armchair"
          target="_blank"
          rel="noopener noreferrer"
          >open source</a
        >.
      </p>
      <h3>Support</h3>
      <p>
        Report bugs or send suggestions to
        <a href="mailto:help@armchairlist.com">help@armchairlist.com</a>.
      </p>
    </div>
  </body>
</html>
