<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Armchair</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="page-content">
    <h3>About</h3>
    <p>
      Armchair is Beli for books. You get two lists: fiction and non-fiction.
      As you add books you'll rank them head-to-head. Like Beli, this provides
      a better signal of true book preferences and enables better
      recommendations.
    </p>
    <h3>Privacy</h3>
    <p>
      Anyone can create lists and get recommendations. To save your lists,
      you'll need to sign up. User authentication is through Google. Armchair
      is not given your email, profile picture, or account data. Lists are private by default.
    </p>
    <h3>Support</h3>
    <p>
      The best way to support is by creating an account and ranking books.
      This improves the recommendation algorithm for everyone. Report bugs
      or send suggestions to <a href="mailto:armchair@lairdstewart.com">armchair@lairdstewart.com</a>.
    </p>
    </div>
  </body>
</html>
